<!-- app/views/visit_forms/_critere_fields.html.erb -->
<div class="nested-fields">
  <% @visit_form.bookings.each do |booking|%>
      <% if current_user == booking.user %>
        <p>Critère : <b><%= f.object.question %></p></b>
        <%= f.input :answer, label: false %>
      <% end %>
  <%end%>
  <%= f.input :question, label: 'Votre critère', placeholder: "Ex: Climatisation fonctionnelle", input_html: { class: 'custom-placeholder' } %>
  <div class="delete-btn">
    <%= link_to_remove_association "Supprimer le critère", f %>
  </div>
</div>
