<!-- app/views/visit_forms/_critere_fields.html.erb -->
<div class="nested-fields">
  <%= f.input :content, label: 'Contenu du critère' %>
  <%= link_to_remove_association "Supprimer le critère", f %>
</div>
