<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div>
      <%= link_to '/', class: "navbar-brand" do %>
        <img src="https://res.cloudinary.com/dhvssfzz1/image/upload/v1693478549/Clara_HERKERT_I_have_a_specific_concept_in_mind_that_centers_ar_bee765b3-7901-4caf-8b30-4f6dfb62a6d8_r8wvtf.png" class="logo" alt="">
      <% end %>
    </div>
    <div>
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
          <div class="div-avatar">
          <a href="#" class="avatar avatar-nav" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if current_user.photo.attached? %>
              <%# {<%= cl_image_tag current_user.photo.key, class: "avatar avatar-nav" %>
            <% else %>
            <img src="https://res.cloudinary.com/dhvssfzz1/image/upload/v1693230173/avatar-without-img_jwenhi.png" class="avatar avatar-nav" alt= "dropdown menu">
            <% end%>
          </a>
            <div class="dropdown-menu dropdown-menu-end dropdown-avatar" aria-labelledby="navbarDropdown">
              <%= link_to "Déconnexion", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Se connecter", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
