<div id="chat-<%= chat.id %>">
  <% if chat.user == current_user %>
    <div class="current_user_chat chat-box">
      <p class="current-user-chat-header">Moi</p>
      <p><%= chat.content %></p>
    </div>
  <% else %>
      <div class="other_user_chat chat-box">
        <p class="other-user-chat-header"><%= chat.user.first_name %></p>
        <p><%= chat.content %></p>
      </div>

  <% end %>
</div>
