<div class="content">
  <h1>Guide de Visite : Location Immobilière</h1>

  <p>Lors de la visite d'un bien, il est essentiel de garder à l'esprit certains points clés pour s'assurer que le bien répond à vos besoins et attentes :</p>
  <div class="warpper" data-controller="arrow-toggle">
    <div class="collapsible">
      <input type="checkbox" id="collapsible-head1"
      data-action="click->arrow-toggle#toggle">
      <label for="collapsible-head1">Localisation et Environnement
      <i class="fa-solid fa-chevron-down" data-arrow-toggle-target="arrow"></i></label>
      <div class="collapsible-text">
        <p>Proximité des commerces, écoles, transports en commun.</p>
        <p>Qualité du voisinage : calme, sécurité, aspect sociodémographique.</p>
        <p>Accessibilité en voiture et disponibilité de stationnement.</p>
      </div>
    </div>
  </div>

  <div class="warpper" data-controller="arrow-toggle">
    <div class="collapsible">
      <input type="checkbox" id="collapsible-head2"
      data-action="click->arrow-toggle#toggle">
      <label for="collapsible-head2">Extérieur du Bien :
      <i class="fa-solid fa-chevron-down" data-arrow-toggle-target="arrow"></i></label>
      <div class="collapsible-text">
        <p>État général de la façade et des parties communes.</p>
        <p>Présence d'un espace extérieur : balcon, terrasse, jardin.</p>
        <p>Orientation : luminosité, ensoleillement.</p>
      </div>
    </div>
  </div>

  <div class="warpper" data-controller="arrow-toggle">
    <div class="collapsible">
      <input type="checkbox" id="collapsible-head3"
      data-action="click->arrow-toggle#toggle">
      <label for="collapsible-head3">Intérieur du Bien :
      <i class="fa-solid fa-chevron-down" data-arrow-toggle-target="arrow"></i></label>
      <div class="collapsible-text">
        <p>Surface et distribution des pièces.</p>
        <p>État général : propreté, état des peintures et sols.</p>
        <p>État des fenêtres : double vitrage, isolation.</p>
        <p>Qualité de l'isolation phonique et thermique.</p>
        <p>Présence de rangements intégrés.</p>
      </div>
    </div>
  </div>

  <div class="warpper" data-controller="arrow-toggle">
    <div class="collapsible">
      <input type="checkbox" id="collapsible-head4"
      data-action="click->arrow-toggle#toggle">
      <label for="collapsible-head4">Équipements et Confort :
      <i class="fa-solid fa-chevron-down" data-arrow-toggle-target="arrow"></i></label>
      <div class="collapsible-text">
        <p>Type de chauffage : individuel, collectif, type d'énergie.</p>
        <p>État des équipements sanitaires : salle de bain, toilettes.</p>
        <p>Cuisine : équipée, semi-équipée, type d'appareils.</p>
        <p>Connexion internet et couverture mobile.</p>
      </div>
    </div>
  </div>

  <div class="warpper" data-controller="arrow-toggle">
    <div class="collapsible">
      <input type="checkbox" id="collapsible-head5"
      data-action="click->arrow-toggle#toggle">
      <label for="collapsible-head5">Sécurité :
      <i class="fa-solid fa-chevron-down" data-arrow-toggle-target="arrow"></i></label>
      <div class="collapsible-text">
        <p>Présence de détecteurs de fumée.</p>
        <p>État des serrures, présence d'une porte blindée.</p>
        <p>Sécurité de l'immeuble : digicode, interphone, gardien.</p>
      </div>
    </div>
  </div>

  <div class="warpper" data-controller="arrow-toggle">
    <div class="collapsible">
      <input type="checkbox" id="collapsible-head6"
      data-action="click->arrow-toggle#toggle">
      <label for="collapsible-head6">Aspects Financiers :
      <i class="fa-solid fa-chevron-down" data-arrow-toggle-target="arrow"></i></label>
      <div class="collapsible-text">
        <p>Montant du loyer et des charges.</p>
        <p>Détails des charges : incluses ou non dans le loyer, ce qu'elles couvrent.</p>
        <p>Modalités de paiement : garanties demandées, conditions de dépôt de garantie.</p>
      </div>
    </div>
  </div>

  <div class="warpper" data-controller="arrow-toggle">
    <div class="collapsible">
      <input type="checkbox" id="collapsible-head7"
      data-action="click->arrow-toggle#toggle">
      <label for="collapsible-head7">Détails Contractuels :
      <i class="fa-solid fa-chevron-down" data-arrow-toggle-target="arrow"></i></label>
      <div class="collapsible-text">
        <p>Durée du bail.</p>
        <p>Conditions de résiliation.</p>
        <p>Responsabilités en cas de dégâts ou réparations.</p>
      </div>
    </div>
  </div>

  <div class="warpper" data-controller="arrow-toggle">
    <div class="collapsible">
      <input type="checkbox" id="collapsible-head8"
      data-action="click->arrow-toggle#toggle">
      <label for="collapsible-head8">Questions à Poser :
      <i class="fa-solid fa-chevron-down" data-arrow-toggle-target="arrow"></i></label>
      <div class="collapsible-text">
        <p>Quelle est la date de disponibilité du bien?</p>
        <p>Y a-t-il eu des incidents récents dans l'immeuble ou le quartier ?</p>
        <p>Comment est gérée la collecte des ordures?</p>
        <p>Comment fonctionne le système de chauffage et de refroidissement?</p>
      </div>
    </div>
  </div>

  <p>N'hésitez pas à imprimer cette liste ou à la sauvegarder sur votre téléphone
  pour l'avoir à portée de main lors de vos visites. </p>

</div>
