<div class="content">
  <div class ="home">
    <h1>Visit For Me</h1>
    <p class="home-p">Libérez vous des contraintes : Laissez nous visiter à votre place - Votre service de confiance pour explorer des appartements !</p>
    <div class="mt-5"><%= link_to "Trouver une visite", visit_forms_path, class: "btn button-reserver" %></div>
  </div>
</div>
