.current_user_chat {
  background-color: #c6cdffa6;
  text-align: right;
  box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.3);
  &.chat-box {
    border-radius: 8px 8px 0px 8px;
  }
  .current-user-chat-header {
    color: #133664;
    font-weight: bold;
  }
}

.other_user_chat {
  text-align: left;
  background-color: #7caef17a;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  &.chat-box {
    border-radius: 8px 8px 8px 0px;
  }
  .other-user-chat-header {
    color: #133664;
    font-weight: bold;
  }
}

@keyframes incoming {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 1;
  }
}

.chat-box {
  border-radius: 12px;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 14px;
  width: 100%;
  margin-left: 6px;
  animation: incoming 1s ease;
}

.other-chatbox{
  min-width: 100px;
  display: flex;
  margin-left: -42px;
  align-items: center;
}
.chatrooom-title {
  text-align: center;
  margin-top: -10px;
  margin-bottom: 30px;
}

.custom-input-class{
max-height: 45px;
width: 255px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
border-right: none;
position: relative;
background-color: white !important;
padding-right: 45px;
}
