.search, .btn-search{
  margin-bottom: 5px;
  border-radius: 5px;
}

.btn-search{
  display: inline-block;
  border: 1px solid #687BA7;
  border-radius: 5px;
  color: black;
  z-index: 1;
  background-color: #687BA7;
 }

 .form-control{
  background-color: white;
 }
 .form-control::placeholder {
  font-style: italic;
  font-size: smaller;
}
