.search, .btn-search{
  margin-bottom: 5px;
}

.btn-search{
  display: inline-block;
  border-top: 1px solid var(--bs-border-color);
  border-left: 1px solid var(--bs-border-color);
  border-bottom: 1px solid var(--bs-border-color);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: grey;
  z-index: 1;
  background-color: white;
 }

 .form-control{
  background-color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  outline: none !important;
 }
 .form-control::placeholder {
  font-style: italic;
  font-size: smaller;
}
